{% extends "base.html" %}

{% block title %}Privacy Policy - Skills Matrix{% endblock %}

{% block extra_css %}
<style>
    .accordion-button:not(.collapsed) {
        background-color: #e7f1ff;
        color: #0c63e4;
    }
</style>
{% endblock %}

{% block content %}
<main class="flex-shrink-0">
    <div class="container mt-4">
        <h1 class="mb-4">Privacy Policy</h1>
        <p class="mb-3">Last updated: 2024-08-04</p>
        <p class="mb-4">We are committed to protecting the privacy of all personal information that we obtain from you. Our Privacy Policy explains how and why we collect personal information about you, and how that information is maintained and used ("Privacy Policy"). This Privacy Policy covers the following:</p>

                <div class="accordion" id="privacyAccordion1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                    What information are we collecting and how are we collecting it?
                                </button>
                            </h2>
                            <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#privacyAccordion1">
                                <div class="accordion-body">
                                    <p>We will collect and process the following personal information about you:</p>
                                    <ul>
                                        <li><h5>Information you provide to us</h5></li>
                                    </ul>
                                    <p>You provide us with personal information by filling in the contact form or other forms on our website. or by corresponding with us by phone, email or otherwise. The information you provide us may include your name, email address, physical address, home and mobile phone numbers, contact details, IP address, device ID, MAC address, and other analogous personal information.</p>
                                    <ul>
                                        <li><h5>Information we collect about you</h5></li>
                                    </ul>
                                    <p>We will also collect information about you through your use of this website. This information may include site areas visited, pages viewed, frequency and duration of visits.</p>
                                    <ul>
                                        <li><h5>Information we receive from other sources</h5></li>
                                    </ul>
                                    <p>We may also collect your personal information from third parties, including, for example, business partners, analytics providers, search information providers, and third-party marketing companies or through publicly available sources.</p>
                                    <ul>
                                        <li><h5>Information we receive from other sources</h5></li>
                                    </ul>
                                    <p>We may also collect your personal information from third parties, including, for example, business partners, analytics providers, search information providers, and third-party marketing companies or through publicly available sources.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 1st item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                    Why we collect your information
                                </button>
                            </h2>
                            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#privacyAccordion2">
                                <div class="accordion-body">
                                    <p>We collect your personal information in order to provide you with our products and services, By collecting your information, we are able to monitor and improve the services we offer to our existing and potential clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End of 2nd Item -->


                <div class="container">
                    <div class="accordion" id="privacyAccordion3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                    How we use your information
                                </button>
                            </h2>
                            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#privacyAccordion3">
                                <div class="accordion-body">
                                    <p>We may use your personal information for one or more of the following purposes:</p>
                                    <ul>
                                        <li>
                                            To provide the services to you that you have requested including customer support;
                                        </li>
                                        <li>
                                            To maintain your personal profile and manage your account;
                                        </li>
                                        <li>
                                            To contact you when necessary or appropriate in relation to the services being provided to you;
                                        </li>
                                        <li>
                                            To manage and administer the products and services provided to you;
                                        </li>
                                        <li>
                                            To provide you with information regarding the products and services offered by us;
                                        </li>
                                        <li>
                                            To offer you additional services such as a discord communities;
                                        </li>
                                        <li>
                                            To develop an understanding of the products and services that you may be interested in obtaining from us;
                                        </li>
                                        <li>
                                            To provide you with information or opportunities that we believe may be relevant to you;
                                        </li>
                                        <li>
                                            To create anonymised statistical data - we may share anonymised data with other companies; however, this data will not include any information that personally identifies you; and
                                        </li>
                                        <li>
                                            We may also use your personal information, including market research, analysis and developing statistics across the site, to develop an understanding of the products and services that you may be interested in obtaining from us, and to market such products and services to you.
                                        </li>
                                    </ul>
                                    <p>When we collect and use your personal information, we will make sure this is only done in accordance with at least one of the legal grounds available to us under Data Protection law.</p>

                                    <p>If We or a fraud prevention agency determine that you pose a risk of fraud or money laundering, or other financial crime, we may refuse or stop providing our services to you.</p>

                                    <h5>Using your personal data: the legal basis and purposes</h5>
                                    <p>We will process your personal data to provide services to you as follows. This includes:</p>
                                    <ul>
                                        <li>
                                            Taking steps at your request prior to entering into the agreement;
                                        </li>
                                        <li>
                                            Updating your records;
                                        </li>
                                        <li>
                                            As necessary for our (or our authorised third parties') legitimate interests, for example:
                                        </li>
                                        <li>
                                            To monitor emails, calls, other communications, and activities on your account, subject to applicable laws;
                                        </li>
                                        <li>
                                            For market research, analysis and developing statistics;
                                        </li>
                                        <li>
                                            To carry out marketing and send communications, including by email, post, text, digital communications, through our newsletter, banner advertising and other forms of communication including social media campaigns. We may analyse your personal information, so that we can offer a more relevant, tailored service and product offering to you;
                                        </li>
                                        <li>
                                            To develop new services and improve the products and services we provide;
                                        </li>
                                        <li>
                                            To request your feedback on a product or service via a third party we have chosen;
                                        </li>
                                        <li>
                                            You have the right to ask us not to process your personal information for marketing purposes. You can do this emailing contact@example.com email address,  using the unsubscribe link provided in relevant emails we send you.
                                        </li>
                                    </ul>
                                    As necessary to comply with a legal obligation, for example:
                                    <ul>
                                        <li>
                                            When you exercise your rights under data protection law and make requests;
                                        </li>
                                        <li>
                                            For compliance with legal and regulatory requirements and related disclosures;
                                        </li>
                                        <li>
                                            For activities relating to the prevention, detection and investigation of crime;
                                        </li>
                                        <li>
                                            For establishment and defence of legal rights;
                                        </li>
                                    </ul>
                                    Based on your consent, for example:
                                    <ul>
                                        <li>
                                            When you request us to disclose your personal data to other people or organisations such as a company handling a claim on your behalf, or otherwise agree to disclosures;
                                        </li>
                                        <li>
                                            To comply with our legal obligations and to allow us to identify you for authenticating, reporting, compliance and customer service purposes;
                                        </li>
                                        <li>
                                            To carry out marketing in instances when we have asked for your consent, and you have provided it; and
                                        </li>
                                        <li>
                                            To provide our discord forum to you if applicable.
                                        </li>
                                    </ul>
                                    You are free at any time to change your mind and withdraw your consent.
                                </div>
                            </div>
                        </div>
                    </div> <!-- End of  3rd Item -->
                </div>


                <div class="container">
                    <div class="accordion" id="privacyAccordion4">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                    Who may we disclose your information to?
                                </button>
                            </h2>
                            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#privacyAccordion1">
                                <div class="accordion-body">
                                    <p>We may share your personal information with:</p>
                                    <ul>
                                        <li>
                                            Any court or tribunal;
                                        </li>
                                        <li>
                                            Fraud prevention and law enforcement agencies if false or inaccurate information is provided and fraud is identified;
                                        </li>
                                        <li>
                                            Anyone else where we have your consent or where we have another lawful basis for doing so;
                                        </li>
                                        <li>
                                            Any organisation at your request or any persons acting on your behalf, including your solicitor or accountant;
                                        </li>
                                        <li>
                                            Any third-party service providers where this is necessary to process a transaction or provide services which you have requested (e.g. software providers);
                                        </li>
                                        <li>
                                            Any authority to whom we are are required to disclose such information by law;
                                        </li>
                                    </ul>
                                    <p>Please note that we do not sell your personal information to third parties for marketing purposes.</p>
                                    <p>We also requires that external organisations, who handle or obtain personal information, acknowledge the confidentiality of this information and undertake to respect any individual's right to privacy and comply with all the relevant data protection laws and this Privacy Policy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 4th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion5">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                    What rights do you have?
                                </button>
                            </h2>
                            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#privacyAccordion5">
                                <div class="accordion-body">
                                    <p>Your rights are as follows in respect of the personal information we hold about you:</p>
                                    <ul>
                                        <li>
                                            The right to be informed about processing of your personal data;
                                        </li>
                                        <li>
                                            The right to have your personal data corrected if it's inaccurate and to have incomplete personal data completed;
                                        </li>
                                        <li>
                                            The right to object to processing of your personal data;
                                        </li>
                                        <li>
                                            The right to restrict processing of your personal data;
                                        </li>
                                        <li>
                                            The right to have your personal data erased (the "right to be forgotten");
                                        </li>
                                        <li>
                                            The right to request access to a copy of your personal data and information about how we process it. Please make all requests for access in writing (see how to contact us for details) and provide us with evidence of your identity;
                                        </li>
                                        <li>
                                            The right to move, copy or transfer your personal data (“data portability”); and
                                        </li>
                                        <li>
                                            Rights in relation to automated decision-making, including profiling.
                                        </li>
                                    </ul>
                                    <p>Please note, some of these rights only apply in certain circumstances, and we may not be able to fulfil every request. In order to exercise these rights we may require proof of identity.</p>
                                    <p>You can contact us by sending an email to Contact@example.com If you prefer to contact us via phone or by post, please refer to the below section "How to contact us".</p>
                                    <p>We will stop processing your personal data unless the processing is for the establishment, exercise, or defence of, legal claims. Or we have a legitimate business purpose or legal grounds for the processing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 5th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion6">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                    How we protect your information
                                </button>
                            </h2>
                            <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#privacyAccordion6">
                                <div class="accordion-body">
                                    <p>We are committed to protecting the privacy of all personal information that we obtain from you.</p>
                                    <p>We continue to adopt industry and information security best practices to protect your personal information and ensure that unauthorised persons do not access it. Measures include encryption of data during transmission, strong authentication mechanisms, cybersecurity processes and secure access to machines and data.</p>
                                    <p>We train our employees who handle personal information to respect the confidentiality of customer data and the privacy of individuals.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!-- End of 6th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion7">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                                    Why we collect your information
                                </button>
                            </h2>
                            <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7" data-bs-parent="#privacyAccordion7">
                                <div class="accordion-body">
                                    <p>We collect your personal information in order to provide you with our products and services, By collecting your information, We are able to monitor and improve the services we offer to our existing and potential clients.</p> </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 7th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion8">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                                    How we protect your information in data transfers
                                </button>
                            </h2>
                            <div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="heading-8" data-bs-parent="#privacyAccordion8">
                                <div class="accordion-body">
                                    <p>We may transfer personal information to other countries outside of the European Economic Area, such as the US. In such circumstances, we will ensure the transfer is lawful and that there are appropriate security arrangements in place.</p>
                                </div>
                            </div>
                        </div> <!-- End of 8th Item -->
                    </div>
                </div> <!-- End of 8th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion9">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-9">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
                                    How you can protect your information
                                </button>
                            </h2>
                            <div id="collapse-9" class="accordion-collapse collapse" aria-labelledby="heading-9" data-bs-parent="#privacyAccordion9">
                                <div class="accordion-body">
                                    <p>Just like us, you should care about the security of your personal data. Do not give your security details such as passwords or passcodes, to anyone else.</p>
                                    <p>Additionally, we recommend securing your devices with a password or passcode. If you use our mobile app, we recommend that you enable the use of Touch ID or Face ID.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 9th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion10">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-10">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
                                    How long we hold your information
                                </button>
                            </h2>
                            <div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="heading-10" data-bs-parent="#privacyAccordion10">
                                <div class="accordion-body">
                                    <p>We will remove any personal information that will identify you, or we will securely destroy the records when we consider that that personal information is no longer required. This could be a period of seven years after our business relationship with you has ended.</p>
                                    <p>However, we may need to maintain certain records for a longer period, for example, where we are required to hold your personal information for regulatory or legal purposes, to provide you with the services you have requested or to maintain adequate business records.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 10th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion11">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-11">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                                    Cookies and our cookie policy
                                </button>
                            </h2>
                            <div id="collapse-11" class="accordion-collapse collapse" aria-labelledby="heading-11" data-bs-parent="#privacyAccordion11">
                                <div class="accordion-body">
                                    <p>We use cookies to gather information about your access to this website. Cookies are small files stored on your device after you access this website. Some of the information gathered does not contain any personal details about you but is still protected by this Privacy policy.</p>
                                    <p>They enhance your browsing experience in various ways, which include remembering your preference settings, displaying relevant content and ensuring web pages function as intended. For detailed information on the cookies we use and the purposes for which we use them, see our cookie policy.</p>
                                    <p>When you use this website , you may be able to link to other websites. This Privacy Policy does not apply to those sites. We encourage you to read the privacy policies on such sites.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 11th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion12">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-12">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
                                    What to do if you have a complaint
                                </button>
                            </h2>
                            <div id="collapse-12" class="accordion-collapse collapse" aria-labelledby="heading-12" data-bs-parent="#privacyAccordion12">
                                <div class="accordion-body">
                                    <p>If you have any questions or complaints about the way we handle your information, please contact us. If we do not resolve a complaint to your satisfaction, you have the right to lodge a complaint with your local Data Protection Authority, see https://edpb.europa.eu/about-edpb/board/members_en for more information. You may contact the Information Commissioner's Office if you are in the UK.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 12th Item -->

                <div class="container">
                    <div class="accordion" id="privacyAccordion13">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-13">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
                                    Changes to our Privacy Policy
                                </button>
                            </h2>
                            <div id="collapse-13" class="accordion-collapse collapse" aria-labelledby="heading-13" data-bs-parent="#privacyAccordion13">
                                <div class="accordion-body">
                                    <p>We may change this Privacy Policy from time to time. When such a change is made, we will post a revised version online. Changes will be effective from the point at which they are posted. It is your responsibility to review this Privacy Policy periodically, so you are aware of any changes. By using our services, you agree to this Privacy Policy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of 13th Item -->


            <div class="container mt-4">

                <h2 class="mt-3 mb-3">How to Contact Us</h2>
                <p>If you have any questions about this Privacy Policy or want to exercise your rights, please contact us by:</p>
                <ul>
                    <li>Phone on +44 (0)123 456 7890</li>
                    <li>Email to contact@example.com</li>
                    <li>Post to example address, example town, example county, postcode</li>
                </ul>
            </div>
            <div class="container mb-4">
                <p class="mt-3">The purpose of this privacy notice is to ensure that you are aware of how and why we use your data on specific occasions when we are collecting or processing your personal data. This privacy notice is issued in conjunction with the other notices and is not intended to override them. Our privacy policy will be reviewed periodically in accordance with new regulations, obligations and technology.</p>
            </div>

</main>
{% endblock %}